.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 40px;
    font-size: 12px;
    color: #212529;
    border-bottom: 1px solid silver;
}

img{
    width: 30px;
}

.name{
    width: 140px;
    margin-left: 15px;
    color: #333333;
    font-weight: bold;
}

.symbol, .price, .redChange, .greenChange{
    width: 100px;
}

.greenChange{
    color: rgb(0, 204, 0);
    font-weight: bold;
}

.redChange{
    color: rgb(255, 38, 38);
    font-weight: bold;
}